.danpin_wrap {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 30px; }
  .danpin_wrap .chimabeijing {
    display: none; }
    .danpin_wrap .chimabeijing img {
      position: fixed;
      top: 30%;
      left: 20%;
      z-index: 1000; }
  .danpin_wrap .fenxiangbeijing {
    display: none; }
    .danpin_wrap .fenxiangbeijing img {
      width: 18%;
      position: fixed;
      top: 20%;
      left: 40%;
      z-index: 2000; }
  .danpin_wrap .danpin_box {
    border-bottom: 1px solid #8c8c8c; }
    .danpin_wrap .danpin_box .danpin_left {
      width: 690px; }
      .danpin_wrap .danpin_box .danpin_left .xiaotu {
        width: 120px;
        height: 700px;
        float: left; }
        .danpin_wrap .danpin_box .danpin_left .xiaotu ul {
          padding-top: 20px; }
          .danpin_wrap .danpin_box .danpin_left .xiaotu ul li {
            width: 120px;
            margin-top: 5px;
            cursor: pointer; }
            .danpin_wrap .danpin_box .danpin_left .xiaotu ul li img {
              width: 80%;
              margin-top: 10px;
              margin-left: 10px;
              border: 1px solid #8c8c8c; }
          .danpin_wrap .danpin_box .danpin_left .xiaotu ul .now img {
            border: 3px solid red; }
        .danpin_wrap .danpin_box .danpin_left .xiaotu .baisexiao_img {
          display: none; }
      .danpin_wrap .danpin_box .danpin_left .datu {
        width: 500px;
        float: left;
        padding-top: 20px;
        padding-bottom: 100px; }
        .danpin_wrap .danpin_box .danpin_left .datu img {
          width: 110%;
          height: 600px;
          border: 3px solid #8c8c8c; }
        .danpin_wrap .danpin_box .danpin_left .datu .baisedatu_img {
          display: none; }
        .danpin_wrap .danpin_box .danpin_left .datu .fenxiang_box {
          width: 300px;
          margin-top: 25px;
          margin-left: 190px; }
          .danpin_wrap .danpin_box .danpin_left .datu .fenxiang_box .fenxiang {
            outline-style: none;
            width: 100px;
            height: 30px;
            color: white;
            background-color: black;
            border-style: none;
            font-size: 18px; }
          .danpin_wrap .danpin_box .danpin_left .datu .fenxiang_box .shoucang {
            outline-style: none;
            width: 100px;
            height: 30px;
            color: darkred;
            background-color: white;
            border-style: none;
            font-size: 18px;
            margin-left: 10px; }
    .danpin_wrap .danpin_box .danpin_right {
      width: 470px;
      float: right;
      padding-top: 20px; }
      .danpin_wrap .danpin_box .danpin_right .right_top {
        height: 40px; }
        .danpin_wrap .danpin_box .danpin_right .right_top h1 {
          float: left; }
        .danpin_wrap .danpin_box .danpin_right .right_top .kuanhao {
          float: right;
          margin-top: 10px;
          font-size: 15px; }
      .danpin_wrap .danpin_box .danpin_right .wuxing_box {
        width: 470px;
        height: 30px;
        border-bottom: 1px solid #c0c0c0; }
        .danpin_wrap .danpin_box .danpin_right .wuxing_box .wuxing {
          width: 60px;
          height: 15px;
          background: url("../imgs/wuxing.png");
          position: relative; }
          .danpin_wrap .danpin_box .danpin_right .wuxing_box .wuxing p {
            margin-left: 65px;
            color: darkorange;
            position: absolute;
            top: -2px;
            font-size: 11px; }
      .danpin_wrap .danpin_box .danpin_right .right_center h1 {
        color: #D6211A;
        font-size: 28px;
        line-height: 45px;
        font-weight: 400; }
      .danpin_wrap .danpin_box .danpin_right .right_center .zhekou {
        color: #8c8c8c;
        font-size: 16px;
        line-height: 40px; }
      .danpin_wrap .danpin_box .danpin_right .right_center a {
        display: block;
        height: 190px;
        background-color: #f7f7f7; }
        .danpin_wrap .danpin_box .danpin_right .right_center a p {
          color: #D6211A;
          font-size: 15px;
          padding-top: 15px;
          padding-left: 20px;
          line-height: 26px; }
      .danpin_wrap .danpin_box .danpin_right .right_yanse {
        margin-top: 10px;
        height: 110px; }
        .danpin_wrap .danpin_box .danpin_right .right_yanse .yanse {
          font-size: 15px;
          color: silver;
          line-height: 20px;
          margin-bottom: 10px; }
        .danpin_wrap .danpin_box .danpin_right .right_yanse ul li {
          cursor: pointer;
          width: 75px;
          height: 75px;
          float: left;
          margin-left: 5px;
          border: 1px solid #c0c0c0; }
          .danpin_wrap .danpin_box .danpin_right .right_yanse ul li img {
            width: 90%; }
        .danpin_wrap .danpin_box .danpin_right .right_yanse ul .now img {
          border: 4px solid red; }
      .danpin_wrap .danpin_box .danpin_right .right_chima {
        margin-top: 10px;
        height: 90px; }
        .danpin_wrap .danpin_box .danpin_right .right_chima span {
          color: #8c8c8c;
          font-size: 15px;
          margin-right: 20px; }
        .danpin_wrap .danpin_box .danpin_right .right_chima .biao {
          margin-left: 120px;
          margin-right: 0px;
          color: #8c8c8c;
          font-weight: 300; }
        .danpin_wrap .danpin_box .danpin_right .right_chima ul {
          padding-top: 10px; }
          .danpin_wrap .danpin_box .danpin_right .right_chima ul li {
            float: left;
            width: 42px;
            height: 30px;
            margin-right: 10px;
            border: 1px solid black;
            cursor: pointer; }
            .danpin_wrap .danpin_box .danpin_right .right_chima ul li span {
              display: block;
              margin-left: 10px;
              font-size: 15px;
              line-height: 30px; }
      .danpin_wrap .danpin_box .danpin_right .right_shuliang {
        width: 100%;
        float: left;
        height: 50px;
        margin-bottom: 8px; }
        .danpin_wrap .danpin_box .danpin_right .right_shuliang .shuliang {
          position: relative; }
          .danpin_wrap .danpin_box .danpin_right .right_shuliang .shuliang a {
            float: left;
            display: block;
            width: 120px;
            height: 40px;
            border: 1px solid #8c8c8c; }
            .danpin_wrap .danpin_box .danpin_right .right_shuliang .shuliang a span {
              display: block;
              color: black;
              font-size: 16px;
              margin-left: 20px;
              margin-top: 10px;
              float: left; }
            .danpin_wrap .danpin_box .danpin_right .right_shuliang .shuliang a .shuzi {
              margin-left: 15px; }
            .danpin_wrap .danpin_box .danpin_right .right_shuliang .shuliang a .xiajiantou {
              width: 20px;
              height: 20px;
              float: right;
              margin-top: 13px;
              margin-right: 6px; }
          .danpin_wrap .danpin_box .danpin_right .right_shuliang .shuliang ul {
            width: 120px;
            overflow: hidden;
            text-align: center;
            position: absolute;
            top: 41px;
            background-color: #e5e5e5;
            display: none;
            float: left; }
            .danpin_wrap .danpin_box .danpin_right .right_shuliang .shuliang ul li {
              line-height: 35px;
              cursor: pointer;
              border-bottom: 1px solid #fff;
              font-size: 14px; }
        .danpin_wrap .danpin_box .danpin_right .right_shuliang .right_button {
          float: right; }
          .danpin_wrap .danpin_box .danpin_right .right_shuliang .right_button input {
            outline-style: none;
            border-style: none;
            width: 170px;
            height: 42px;
            color: white;
            background-color: black;
            font-size: 16px;
            cursor: pointer; }
          .danpin_wrap .danpin_box .danpin_right .right_shuliang .right_button .goumai {
            background-color: #D6211A; }
      .danpin_wrap .danpin_box .danpin_right .right_bottom p {
        font-size: 14px;
        color: #8c8c8c; }
      .danpin_wrap .danpin_box .danpin_right .right_bottom .shangpin {
        padding-bottom: 5px;
        color: #231F20; }
      .danpin_wrap .danpin_box .danpin_right .right_bottom .shangcheng {
        color: #231F20; }

.banner_wrap {
  width: 100%;
  padding-bottom: 50px; }
  .banner_wrap p {
    padding-top: 30px;
    font-size: 40px;
    text-align: center; }
  .banner_wrap ul {
    margin-top: 50px;
    overflow: hidden;
    height: 222px;
    text-align: center; }
    .banner_wrap ul li {
      float: left;
      cursor: pointer;
      width: 220px;
      height: 220px;
      margin-right: 16px;
      vertical-align: middle;
      border: 1px solid #d9d9d9; }

.xijie_wrap {
  width: 100%;
  padding-top: 20px; }
  .xijie_wrap .xijie_box .anniu {
    height: 100px;
    margin: 0 auto; }
    .xijie_wrap .xijie_box .anniu .chanpinxijie {
      cursor: pointer;
      width: 150px;
      height: 50px;
      background-color: #c0c0c0;
      float: left;
      margin-left: 420px;
      position: relative; }
      .xijie_wrap .xijie_box .anniu .chanpinxijie p {
        color: black;
        text-align: center;
        line-height: 50px;
        font-size: 20px; }
      .xijie_wrap .xijie_box .anniu .chanpinxijie i {
        position: absolute;
        bottom: -20px;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(http://img.anta.cn/images/2015/dtl-buy.png) no-repeat center -59px; }
    .xijie_wrap .xijie_box .anniu .shangpinpingjia {
      cursor: pointer;
      position: relative;
      width: 150px;
      height: 50px;
      background-color: black;
      float: right;
      text-align: left;
      margin-right: 420px; }
      .xijie_wrap .xijie_box .anniu .shangpinpingjia p {
        color: white;
        text-align: center;
        line-height: 50px;
        font-size: 20px; }
      .xijie_wrap .xijie_box .anniu .shangpinpingjia i {
        position: absolute;
        bottom: -20px;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(http://img.anta.cn/images/2015/dtl-buy.png) no-repeat center -59px;
        display: none; }
  .xijie_wrap .xijie_box .xijie {
    width: 100%; }
    .xijie_wrap .xijie_box .xijie .xijie_img {
      margin-left: 200px;
      padding-bottom: 50px; }
      .xijie_wrap .xijie_box .xijie .xijie_img img {
        margin-top: -3px; }
    .xijie_wrap .xijie_box .xijie .pinglun {
      margin-bottom: 50px;
      width: 790px;
      display: none;
      background-color: #f1f2f6; }
      .xijie_wrap .xijie_box .xijie .pinglun ul {
        width: 700px;
        margin-left: 45px;
        padding-top: 30px; }
        .xijie_wrap .xijie_box .xijie .pinglun ul li {
          width: 700px;
          height: 120px;
          border-bottom: 1px solid #8c8c8c; }
          .xijie_wrap .xijie_box .xijie .pinglun ul li .content {
            width: 700px;
            height: 80px;
            padding-top: 25px; }
            .xijie_wrap .xijie_box .xijie .pinglun ul li .content img {
              float: left;
              width: 8%;
              margin-right: 10px; }
            .xijie_wrap .xijie_box .xijie .pinglun ul li .content .bianhao {
              float: left;
              font-size: 14px;
              padding-right: 30px; }
            .xijie_wrap .xijie_box .xijie .pinglun ul li .content .goumaiyanse {
              font-size: 14px; }
            .xijie_wrap .xijie_box .xijie .pinglun ul li .content span {
              float: right;
              font-size: 14px;
              margin-top: -17px;
              display: inline-block; }
            .xijie_wrap .xijie_box .xijie .pinglun ul li .content .pingjia {
              color: red;
              display: inline-block;
              font-size: 14px;
              margin-top: 15px; }
      .xijie_wrap .xijie_box .xijie .pinglun .gengduo {
        text-align: center;
        font-size: 22px;
        color: #8c8c8c;
        cursor: pointer;
        padding-bottom: 80px;
        padding-top: 80px; }
      .xijie_wrap .xijie_box .xijie .pinglun .meiyougengduo {
        text-align: center;
        font-size: 22px;
        color: #8c8c8c;
        cursor: pointer;
        padding-bottom: 80px;
        padding-top: 80px;
        display: none; }

/*# sourceMappingURL=danpin.css.map */
