.list_wrap {
  width: 100%;
  margin-bottom: 85px; }
  .list_wrap .list_box .fenlei {
    height: 20px;
    padding-top: 20px; }
    .list_wrap .list_box .fenlei li {
      font-size: 13px;
      float: left; }
      .list_wrap .list_box .fenlei li a {
        color: #0f0f0f; }
      .list_wrap .list_box .fenlei li span {
        display: inline-block;
        width: 20px;
        height: 17px;
        background: url("../img/list_select_icon.png") no-repeat 0px -100px; }
  .list_wrap .list_box .shaixuan {
    height: 35px;
    margin-top: 15px;
    background-color: #f1f2f6; }
    .list_wrap .list_box .shaixuan p {
      color: #0f0f0f;
      line-height: 35px;
      font-size: 12px; }
  .list_wrap .list_box .list .list_line {
    line-height: 35px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ddd; }
    .list_wrap .list_box .list .list_line dt {
      position: absolute;
      left: 0;
      top: 0;
      padding-left: 10px;
      width: 60px; }
    .list_wrap .list_box .list .list_line .list_nav {
      padding: 0 140px 0 70px;
      width: auto;
      height: 35px; }
      .list_wrap .list_box .list .list_line .list_nav ul {
        width: 100%;
        height: 100%;
        overflow: hidden; }
        .list_wrap .list_box .list .list_line .list_nav ul li {
          display: inline-block;
          float: left;
          width: 100px;
          white-space: nowrap;
          font-size: 12px;
          font-weight: 500;
          text-overflow: ellipsis; }
          .list_wrap .list_box .list .list_line .list_nav ul li a {
            color: #8c8c8c; }
            .list_wrap .list_box .list .list_line .list_nav ul li a:hover {
              color: #D6211A; }
    .list_wrap .list_box .list .list_line .list_operation {
      position: absolute;
      right: 0;
      top: 0;
      width: 130px;
      float: right; }
      .list_wrap .list_box .list .list_line .list_operation .more {
        color: black;
        font-size: 11px; }
      .list_wrap .list_box .list .list_line .list_operation span {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #c0c0c0;
        margin-left: 5px;
        position: absolute;
        bottom: 9px;
        cursor: pointer;
        background: url("../img/list_select_icon.png") no-repeat 1px -137px; }
        .list_wrap .list_box .list .list_line .list_operation span:hover {
          border: 1px solid #D6211A;
          background: url("../img/list_select_icon.png") no-repeat 1px -155px;
          transition: all .8s; }
      .list_wrap .list_box .list .list_line .list_operation .shouqi {
        color: black;
        font-size: 11px;
        float: right;
        margin-right: 50px; }
        .list_wrap .list_box .list .list_line .list_operation .shouqi span {
          background: url("../img/list_select_icon.png") no-repeat 1px -67px; }
          .list_wrap .list_box .list .list_line .list_operation .shouqi span:hover {
            background: url("../img/list_select_icon.png") no-repeat 1px -85px;
            border: 1px solid #D6211A;
            transition: all .8s; }

.yifu_wrap {
  width: 100%;
  padding-bottom: 100px;
  padding-top: 50px;
  background-color: #f1f2f6; }
  .yifu_wrap .yifu_box ul li {
    float: left;
    background-color: white;
    margin-right: 8px;
    margin-bottom: 15px;
    height: 415px;
    width: 289px;
    overflow: hidden;
    transition: all .5s; }
    .yifu_wrap .yifu_box ul li:hover {
      transform: scale(1.05, 1.05);
      overflow: visible;
      box-shadow: 0px 60px 99px 1px rgba(96, 96, 96, 0.4);
      transition: all .8s; }
    .yifu_wrap .yifu_box ul li:hover .chuxian {
      height: 130px;
      transition: all .8s; }
    .yifu_wrap .yifu_box ul li .chuxian {
      height: 70px;
      width: 289px;
      background-color: white;
      overflow: hidden;
      position: relative;
      z-index: 1000; }
    .yifu_wrap .yifu_box ul li h5 {
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      margin-top: 10px; }
    .yifu_wrap .yifu_box ul li p {
      line-height: 25px;
      font-size: 15px; }
    .yifu_wrap .yifu_box ul li .goumai {
      width: 115px;
      height: 30px;
      margin: 0 auto;
      margin-top: 20px;
      border: 1px solid black;
      overflow: hidden; }
      .yifu_wrap .yifu_box ul li .goumai .goumai_box {
        width: 0px;
        height: 32px;
        background-color: black;
        transition: width .5s;
        float: left; }
        .yifu_wrap .yifu_box ul li .goumai .goumai_box a {
          height: 32px;
          width: 115px;
          display: block;
          font-size: 15px;
          font-weight: 700;
          padding: 0px;
          text-align: center;
          line-height: 30px;
          color: black; }
          .yifu_wrap .yifu_box ul li .goumai .goumai_box a:hover {
            color: red; }
        .yifu_wrap .yifu_box ul li .goumai .goumai_box:hover {
          width: 115px;
          /*transform: skewY(10deg);*/
          /*transition: background 1s;*/ }
  .yifu_wrap .yifu_box .xuangou {
    width: 400px;
    height: 35px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid black; }
    .yifu_wrap .yifu_box .xuangou .xuangou_box {
      width: 0px;
      height: 37px;
      background-color: #D6211A;
      transition: width .5s;
      float: left; }
      .yifu_wrap .yifu_box .xuangou .xuangou_box a {
        height: 37px;
        width: 400px;
        display: block;
        font-size: 15px;
        font-weight: 700;
        padding: 0px;
        text-align: center;
        line-height: 30px;
        color: #c0c0c0; }
        .yifu_wrap .yifu_box .xuangou .xuangou_box a:hover {
          color: white; }
      .yifu_wrap .yifu_box .xuangou .xuangou_box:hover {
        width: 400px;
        /*transform: skewY(10deg);*/
        /*transition: background 1s;*/ }

.main_wrap {
  height: 719px;
  position: relative;
  top: -1px;
  overflow: hidden;
  display: block;
  left: 50%;
  margin-left: -960px;
  width: 1719px; }
  .main_wrap .main_box .video {
    width: 584px;
    height: 328.5px;
    border-radius: 2px;
    border: 3px rgba(0, 0, 0, 0.5) solid;
    position: absolute;
    right: 190px;
    bottom: 115px; }
    .main_wrap .main_box .video video {
      width: 584px;
      height: 328px; }
  .main_wrap .main_box .yincang {
    width: 100%;
    height: 55px;
    position: absolute;
    top: 665px;
    background: rgba(0, 0, 0, 0.67); }
    .main_wrap .main_box .yincang .yincang_box {
      color: #fff;
      text-align: center;
      line-height: 55px;
      position: relative;
      width: 1466px; }
      .main_wrap .main_box .yincang .yincang_box span {
        display: inline-block;
        height: 27px;
        line-height: 27px;
        font-size: 14px; }
      .main_wrap .main_box .yincang .yincang_box .yincang_01 i {
        display: inline-block;
        width: 35px;
        height: 30px;
        float: left;
        background: url("../img/id_advertise_icons.png") no-repeat 0px 0px; }
      .main_wrap .main_box .yincang .yincang_box .yincang-02 {
        margin-right: 80px;
        margin-left: 80px; }
        .main_wrap .main_box .yincang .yincang_box .yincang-02 i {
          display: inline-block;
          width: 35px;
          height: 30px;
          float: left;
          background: url("../img/id_advertise_icons.png") no-repeat 0px -37px; }
      .main_wrap .main_box .yincang .yincang_box .yincang-03 i {
        display: inline-block;
        width: 35px;
        height: 30px;
        float: left;
        background: url("../img/id_advertise_icons.png") no-repeat 0px -75px; }

.buzhou_wrap {
  height: 1100px;
  width: 100%;
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 50px; }
  .buzhou_wrap h3 {
    text-align: center;
    line-height: 35px;
    font-size: 35px; }
  .buzhou_wrap .steps-list li {
    width: 300px;
    height: 200px;
    margin-right: 90px;
    float: left;
    margin-top: 35px;
    border-right: 1px solid #8c8c8c; }
    .buzhou_wrap .steps-list li .shu {
      text-align: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid silver;
      margin-left: 140px;
      margin-bottom: 20px; }
      .buzhou_wrap .steps-list li .shu p {
        text-align: center;
        margin-top: 0px;
        line-height: 25px; }
    .buzhou_wrap .steps-list li h4 {
      font-size: 20px;
      text-align: center;
      line-height: 20px; }
    .buzhou_wrap .steps-list li p {
      font-size: 18px;
      color: #0f0f0f;
      text-align: center;
      line-height: 18px;
      margin-top: 15px; }
  .buzhou_wrap .buzhou_box {
    background-color: #f1f2f6; }
    .buzhou_wrap .buzhou_box ul li {
      width: 390px;
      height: 415px;
      float: left;
      margin-right: 5px;
      margin-bottom: 5px; }
      .buzhou_wrap .buzhou_box ul li .img {
        width: 390px;
        height: 250px;
        box-shadow: 0 5px 5px -4px black;
        cursor: pointer; }
      .buzhou_wrap .buzhou_box ul li p {
        font-size: 18px;
        color: #0f0f0f;
        text-align: center;
        line-height: 18px;
        margin-top: 30px; }
      .buzhou_wrap .buzhou_box ul li .dingzhi {
        width: 135px;
        height: 30px;
        margin: 0 auto;
        margin-top: 30px;
        border: 1px solid black;
        overflow: hidden; }
        .buzhou_wrap .buzhou_box ul li .dingzhi .dingzhi_box {
          width: 0px;
          height: 32px;
          background-color: black;
          transition: width .8s;
          float: left; }
          .buzhou_wrap .buzhou_box ul li .dingzhi .dingzhi_box:hover {
            width: 135px; }
          .buzhou_wrap .buzhou_box ul li .dingzhi .dingzhi_box a {
            height: 32px;
            width: 135px;
            display: block;
            font-size: 15px;
            font-weight: 700;
            padding: 0px;
            text-align: center;
            line-height: 30px;
            color: black; }
            .buzhou_wrap .buzhou_box ul li .dingzhi .dingzhi_box a:hover {
              color: white; }
    .buzhou_wrap .buzhou_box ul .shose_01 .img {
      background: url("../img/id_shoes_2.png") no-repeat 0px 0px;
      transition: all 1s; }
      .buzhou_wrap .buzhou_box ul .shose_01 .img:hover {
        background: url("../img/id_shoes_2.png") no-repeat 0px -30px;
        transition: all 1s; }
    .buzhou_wrap .buzhou_box ul .shose_02 .img {
      background: url("../img/id_shoes_2.png") no-repeat 0px -252px;
      transition: all 1s; }
      .buzhou_wrap .buzhou_box ul .shose_02 .img:hover {
        background: url("../img/id_shoes_2.png") no-repeat 0px -282px;
        transition: all 1s; }
    .buzhou_wrap .buzhou_box ul .shose_03 .img {
      background: url("../img/id_shoes_2.png") no-repeat 0px -525px;
      transition: all 1s; }
      .buzhou_wrap .buzhou_box ul .shose_03 .img:hover {
        background: url("../img/id_shoes_2.png") no-repeat 0px -555px;
        transition: all 1s; }
    .buzhou_wrap .buzhou_box ul .shose_04 .img {
      background: url("../img/id_shoes.png") no-repeat 0px 0px;
      transition: all 1s; }
      .buzhou_wrap .buzhou_box ul .shose_04 .img:hover {
        background: url("../img/id_shoes.png") no-repeat 0px -30px;
        transition: all 1s; }
    .buzhou_wrap .buzhou_box ul .shose_05 .img {
      background: url("../img/id_shoes.png") no-repeat 0px -250px;
      transition: all 1s; }
      .buzhou_wrap .buzhou_box ul .shose_05 .img:hover {
        background: url("../img/id_shoes.png") no-repeat 0px -280px;
        transition: all 1s; }
    .buzhou_wrap .buzhou_box ul .shose_06 .img {
      background: url("../img/id_shoes.png") no-repeat 0px -520px;
      transition: all 1s; }
      .buzhou_wrap .buzhou_box ul .shose_06 .img:hover {
        background: url("../img/id_shoes.png") no-repeat 0px -550px;
        transition: all 1s; }

.banner_box {
  width: 1711.09px;
  position: relative;
  top: -1px;
  overflow: hidden;
  display: block;
  left: 60%;
  margin-left: -1104px; }

.zhongjiang_wrap {
  width: 100%;
  background-color: #f1f2f6;
  margin-top: -2px;
  padding-top: 30px; }
  .zhongjiang_wrap .zhongjiang ul li {
    width: 270px;
    background-color: #FFFFFF;
    height: 289px;
    float: left;
    margin: 15px 5px 0;
    padding: 8px; }
    .zhongjiang_wrap .zhongjiang ul li .zhongjiang_img {
      background-color: #f1f2f6;
      display: block;
      height: 254px; }
      .zhongjiang_wrap .zhongjiang ul li .zhongjiang_img img {
        width: 84%;
        height: auto !important;
        margin-left: 15%;
        padding-top: 10%; }
    .zhongjiang_wrap .zhongjiang ul li span {
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 14px;
      display: inline-block;
      margin-top: 5px;
      margin-left: 50px; }
  .zhongjiang_wrap .zhongjiang p {
    text-align: center;
    font-size: 22px;
    color: #8c8c8c;
    cursor: pointer;
    padding-bottom: 80px;
    padding-top: 80px; }
  .zhongjiang_wrap .zhongjiang .meiyougengduo {
    display: none; }

/*# sourceMappingURL=list.css.map */
